.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color:red
}

table, tr,td,th{
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.ulList{
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 4fr);
  column-gap: 14px;
  row-gap: 20px;
}
ul li{
  list-style-type: none;
  margin: 5px;
}
li a{
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  border: 1px solid grey;
  padding: 10px 20px;
  background-color: aquamarine;
  border-radius: 10px;
}

.center_div{
  width: 800px;
  margin: 0 auto;
}

.toggleHoc{
  border: 6px solid black;
  font-size: 30px;
  height: 400px;
  width:400px

}

.isdark{
  background-color: grey;
}

.islight{
  background-color: pink;
}

.bodyDiv{
  height: 300px;
  width: 300px;
  border: 2px solid black;
}